<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
    <body>
    <div class="container">
        <div class="container">
            <form class="form-horizontal" th:action="@{/saveCustomer}" name="input_form" id="input_form"
                  method="post" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" th:name="name" placeholder="Name" maxlength="100"/>
                    <input type="number" class="form-control" id="phone" th:name="phone" placeholder="Phone" maxlength="100"/>
                    <input type="email" class="form-control" id="email" th:name="email" placeholder="E-mail" maxlength="100"/>
                    <input type="text" class="form-control" id="address" th:name="address" placeholder="Address" maxlength="100"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    </body>
</html>