<!DOCTYPE HTML>
<html>

<head th:replace="fragments/head :: head">
    <!--<script type="text/javascript" src="js/jquery-3.4.1.js"></script>-->
    <!--<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="webjars/jquery/3.2.0/jquery.min.js"></script>-->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<form action="/washerstatus" th:object="${bean}" method="GET">
    <h1>Состояние работы стиральных машинок в прачичной № ${laundromatNumber}</h1>
</form>


<table style="align: center">
    <tbody>
    <tr>
        <td style="text-align: center;">1</td>
        <td style="text-align: center;">2</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div style="background-image: url(../images/washer.jpg);
            background-repeat: no-repeat;
            position: relative;
            center center;
            height: 250px;
            width: 175px;
            border: 1px solid black;
             -moz-background-size: 100%;
             -webkit-background-size: 100%;
             -o-background-size: 100%;
            background-size: 100%;" );>
                <img style="width: 90px; height: 90px; overflow: hidden;  margin-left: 0px; margin-top: 65px; center center;"
                     alt="Вращение"
                     id="rotation1" src="/images/rotation.png">
            </div>
        </td>
        <td style="text-align: center;">
            <div style="background-image: url(../images/washer.jpg);
            background-repeat: no-repeat;
            position: relative;
            center center;
            height: 250px;
            width: 175px;
            border: 1px solid black;
             -moz-background-size: 100%;
             -webkit-background-size: 100%;
             -o-background-size: 100%;
            background-size: 100%;" );>
                <img style="width: 90px; height: 90px; overflow: hidden;  margin-left: 0px; margin-top: 65px; center center;"
                     alt="Вращение"
                     id="rotation2" src="/images/rotation.png">
            </div>
        </td>
    </tr>
    </tbody>
</table>

<script>
    var rotate1 = function(){
        animate(function(timePassed) {
            rotation1.style.transform = "rotate(" + timePassed + "deg)";
        }, 100000);

        alert('Добрый день');

        $.getJSON("getWasherStatus",
            {laundromatId: 1, washerId: 1},
            function(data) {
                alert('Boom!');
                if (data != null) {
                    alert('Boom 2!');
                }
            }
        );
        $.getJSON("/getWasherStatus", function(result){
            alert('Boom!');
        });
    };

    setTimeout(rotate1, 3000);

    rotation1.onclick = function() {
      animate(function(timePassed) {
        <!--train.style.left = timePassed / 5 + 'px';-->
        rotation1.style.transform = "rotate(" + timePassed + "deg)";
      }, 100000);
    };

    rotation2.onclick = function() {
      animate(function(timePassed) {
        <!--train.style.left = timePassed / 5 + 'px';-->
        rotation2.style.transform = "rotate(" + timePassed + "deg)";
      }, 100000);
    };

    function animate(draw, duration) {
      var start = performance.now();

      requestAnimationFrame(function animate(time) {
        var timePassed = time - start;

        if (timePassed > duration) timePassed = duration;

        draw(timePassed);

        if (timePassed < duration) {
          requestAnimationFrame(animate);
        }

      });
    }
</script>
</body>
</html>